/*this is the print*/

.item {
  padding-top: 50px;

}

a:after {
/*  content: " (" attr(href) ") ";*/
}


/*dit is alles wat ik niet wil zien*/

#menu {
  display: none;
}

#abstract {
  display: none;
}

#about {
  display: none;
}

#printbutton {
  display: none;
}

/* dit is alles wat ik wel wil zien!*/

#print {
  display: block;
}


/*-- TYPE --*/

h1  {
  /*variabel*/
  left: -10%;
  font-size: 120pt;
  line-height: 120pt;
  -webkit-animation:0; /*infinite*/
  -moz-animation:0;

  /*standaard*/
  position: relative;
  margin: 0 auto;
  font-weight: 700;
  padding: 0;
}

blockquote {
  /*variabel*/
  left: 0;
  width: 60%;
  font-size: 24pt;
  -webkit-animation:0; /*infinite*/
  -moz-animation:0;

  /*standaard*/
  position: relative;
  margin: 0 auto;
  font-weight: 400;
  padding: 15px;

}

/* IMAGES */

.image-left {
  left: -120px;
  width: 150px;
  background-color: #000;
  margin:10px;
  padding: 15px;
  opacity: 1;
  z-index: 0;
  -moz-filter: blur(0px);
  -webkit-filter: blur(0px);
  position: relative;
  page-break-inside:avoid;
}

.image-right   {
  position: relative;
  /*right: 0%;*/
  left: -120px;
  width: 150px;
  background-color: #000;
  margin:10px;
  padding: 15px;
  opacity: 1;
  z-index: 0;
  -moz-filter: blur(0px);
  -webkit-filter: blur(0px);
}
.evil-spirits{
  margin-top:-300px !important;
}
.sjaal{
  top:90px !important;
}
.obama{
  top:420px !important;
}

.video   {
  position: relative;
  right: -160px;
  float:right;
  width: 190px;
  background-color: #000;
  margin:15px;
  margin-top: -200px;
  padding: 15px;
  opacity: 1;
  z-index: 0;
  -moz-filter: blur(0px);
  -webkit-filter: blur(0px);
}
.video > iframe {
  display:none;
}
.video.alice-in-wonderland{
  margin-top:-230px;
}
.glass{
}

img {
  padding-bottom: 5px;
  width: 150px;
}



/*FOOTNOTES*/

.footnote{
  display:block;
  right:-270px;
  page-break-inside:avoid;
}
blockquote .footnote {
  right:-265px;  
}
  .footnote a{
    display:none;
  }


.p-een-van-de-kenmerken{
  /*margin-top:-180px;*/
}
.p-het-bovenstaande{
  /*margin-top:-190px;*/
}

/*PAGENUMERS*/

/*#pageFooter {
  display: block;
}

#pageFooter:after {
    counter-increment: page;
    content:"Page " counter(page);
    left: 0; 
    top: 100%;
    white-space: nowrap; 
    z-index: 20px;
    -moz-border-radius: 5px; 
    -moz-box-shadow: 0px 0px 4px #222;  
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);  
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);  
  }


@page {
  @bottom-left {
    content: counter(page) "/" counter(pages);
  }
}
